<div class="main-menu">
    <header class="header">
      <a href="#" class="logo"><i class="ico ti-rocket"></i>Onitron</a>
      <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <!-- /.header -->
    <div class="content">
  
      <div class="navigation">
        <h5 class="title">Navigation </h5>
        <!-- /.title -->
        <ul class="menu js__accordion">
          <li class="current">
            <a class="waves-effect" href="/dashboard"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
          </li>
  
          <li>
            <a class="waves-effect parent-item js__control" href="/"><i class="menu-icon ti-bar-chart"></i><span>Contracts</span><span class="menu-arrow fa fa-angle-down"></span></a>
            <ul class="sub-menu js__content">
              <li><a href="/displayContract">current contract</a></li>
              <li><a href="#">my contract</a></li>
  
              
            </ul>
            <!-- /.sub-menu js__content -->
          </li>
  
        </ul>
        <!-- /.menu js__accordion -->
        <h5 class="title">Payment Request</h5>
        <!-- /.title -->
        <ul class="menu js__accordion">
          <li>
            <a class="waves-effect" href="/simplepayment"><i class="menu-icon ti-credit-card"></i><span>Simple Payment Request</span></a>
          </li>
          <li>
            <a class="waves-effect" href="/escrowpayment"><i class="menu-icon ti-panel"></i><span>Escrow Payment Request</span></a>
          </li>
  
  
  
        </ul>
        <!-- /.menu js__accordion -->
        <h5 class="title">Others</h5>
        <!-- /.title -->
        <ul class="menu js__accordion">
          <li>
            <a class="waves-effect" href="/profil"><i class="menu-icon ti-user"></i><span>Profil</span></a>
          </li>
          <li>
            <a class="waves-effect" href="/screen"><i class="menu-icon ti-lock"></i><span>Lock-screen</span></a>
          </li>
         
  
        </ul>
        <!-- /.menu js__accordion -->
      </div>
      <!-- /.navigation -->
    </div>
    <!-- /.content -->
  </div>
  