<div class="col-md-9 offset-md-1 body-content" >
<div class="card hauteur">
  <div class="card-header bg-primary ">
    <div class="col-md-10">I WANT TO BUY</div>
    <div class="row inline">
      <div class="col-md-6 col-sm-6 col-xs-6 text-gnt"><u>500</u> GNT <i class="material-icons">
        keyboard_arrow_down
      </i></div> <div class="col-md-6  col-sm-6 col-xs-6 text-device">0.33 ETH<br>$35.00</div>
    </div>
  </div>
  <div class="card-body text-left ">
    <div class="row">
      <div class="col-md-8 col-sm-4 col-xs-4 text-paye"><b>PAYMENT METHOD</b> </div> <div class="col-md-4 col-sm-8 col-xs-8 text-device"> <span class="dot"></span>MetaMask</div>

    </div>

    <div class="row border rounded">

      <div class="col-md-8 col-sm-8 col-xs-8">0845.4584</div> <div class="col-md-4 col-sm-4 col-xs-4 text-device">52.56 ETH</div>
    </div>
    <div class="border-bottom row">
      <div class="col-md-8 col-sm-6 col-xs-6 text-paye"><b>ORDER DETAILS</b></div> <div class="col-md-4 col-sm-6 col-xs-6 text-device">ETH/<strong class=" text-paye">USD</strong></div>

    </div>
    <div class="border-bottom row">
      <div class="col-md-8 col-sm-6 col-xs-6 ">500 @ $0.07</div> <div class="col-md-4 col-sm-6 col-xs-6 text-device"><span class=" text-paye">$35.00</span></div>

    </div>
    <div class="border-bottom row">
      <div class="col-md-8 col-sm-6 col-xs-6 ">Fee</div> <div class="col-md-4 col-sm-6 col-xs-6 text-device"><span class=" text-paye">$1.00</span></div>

    </div>

    <div class="border-bottom row">
      <div class="col-md-8 col-sm-6 col-xs-6"><b>Total Cost</b></div> <div class="col-md-4 col-sm-6 col-xs-6 text-device"><span class=" text-paye">(0.35 ETH) <strong>$36.00 </strong></span></div>

    </div>
<div class="row">
    <a href="#" class="btn btn-primary bouton-card">Buy GNT</a>
</div>
  </div>

</div>
</div>



