<app-header></app-header>
<app-sidebar></app-sidebar>

	<div id="wrapper">
		<div class="main-content">
			<div class="pricing-plan">
				<div class="pricing-table">
					<div class="cols col-first">
						<div class="thead"><div class="center-v">Choose your plan</div></div>
						<div class="td">PAYMENT METHOD</div>
						<div class="td">0845.4584</div>
						<div class="td">ORDER DETAILS</div>
						<div class="td">500 @ $0.07</div>
						<div class="td">Fee</div>
						<div class="td">Total Cost</div>
						<div class="td"></div>    
					</div>
					
					<div class="col-md-12 col-sm-6 col-xs-6 col-featured ">
						<div class="thead bg-main-2">
							<h4>I WANT TO BUY  <u>500</u> GNT </h4>
							<div class="price">
								
                                <span class="number">500</span>
                                
								<span class="small_number">GNT</span>
								<span class="time">Waiting...</span>
							</div>
						</div>
						<div class="td text-center"><span class="dot"></span>MetaMask</div>
						<div class="td text-center">23.55 ETH</div>
						<div class="td text-center">ETH/USD</div>
						<div class="td text-center">$35.5</div>
						<div class="td text-center">$1.72</div>
						<div class="td text-center">(0.35 ETH) $36.72</div>
						<div class="td text-center"><a href="#" class="btn btn-primary col-md-12 col-sm-6 col-xs-6 " >ORDER NOW</a></div>    
					</div>
					
				</div>
			</div>
			<!-- /.pricing-plan -->		
			<footer class="footer">
				<ul class="list-inline">
					<li>2016 © NinjaAdmin.</li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</footer>
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
    