.header-color{

    background-color: MediumBlue !important;
    height: 50px;
  
  }
  .body-content{
  
    padding-top: 10px;
  
  }
  .jam-align{
  
    text-align: center !important;
  }
  .row div{
  
    display: inline-block !important;
  }
  .hauteur{
    height: 100%;
  }
  .text-gnt{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 10px;
    text-align: left !important;
  }
  .text-device{
  
    color: black;
    margin-bottom: 20px;
    text-align: right !important;
  
  }
  .bouton-card{
  
    width: 100%;
  
  }
  div{
    text-align: justify;
  }
  .text-paye{
  
    color: blue;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  