
<app-header></app-header>
<app-sidebar></app-sidebar>

<div id="wrapper">
    <div class="main-content">
      <div class="row small-spacing">
  
  
  
  
  
        <!-- /.col-12 -->
        <div class="col-12">
          <div class="box-content">
            <h4 class="box-title">Bootstrap MaxLength</h4>
            <!-- /.box-title -->
            <div class="dropdown js__drop_down">
              <a href="#" class="dropdown-icon fas fa-ellipsis-v js__drop_down_button"></a>
              <ul class="sub-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else there</a></li>
                <li class="split"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
              <!-- /.sub-menu -->
            </div>
            <!-- /.dropdown js__dropdown -->
            <div class="row">
              <div class="col-lg-6">
                <div class="padding-20">
                  <h5><b>Default usage</b></h5>
                  <input type="text" class="form-control" maxlength="25" name="defaultconfig" id="defaultconfig" />
  
                  <div class="margin-top-20">
                    <input type="text" maxlength="25" name="thresholdconfig" class="form-control" id="thresholdconfig" />
                  </div>
  
                  <div class="margin-top-20">
                    <h5><b>Few options</b></h5>
                    <input type="text" class="form-control" maxlength="25" name="moreoptions" id="moreoptions" />
                  </div>
                </div>
              </div>
              <!-- /.col-lg-6 -->
  
              <div class="col-lg-6">
                <div class="padding-20">
                  <h5><b>All the options</b></h5>
                  <input type="text" class="form-control" maxlength="25" name="alloptions" id="alloptions" />
  
                  <div class="m-t-20">
                    <h5><b>position</b></h5>
                    <input type="text" class="form-control" maxlength="25" name="placement" id="placement" />
                  </div>
                  <div class="m-t-20">
                    <h5><b>textareas</b></h5>
                    <textarea id="textarea" class="form-control" maxlength="225" rows="2" placeholder="This textarea has a limit of 225 chars."></textarea>
                  </div>
                </div>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-content -->
        </div>
        <!-- /.col-12 -->
      </div>
      <!-- /.row small-spacing -->
      <footer class="footer">
        <ul class="list-inline">
          <li>2016 © NinjaAdmin.</li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </footer>
    </div>
    <!-- /.main-content -->
  </div>