<div id="single-wrapper">
	<form action="#" class="frm-single" (ngSubmit)="onSubmit()">
		<div class="inside">
			<div class="title"><strong>Onitron</strong></div>
			<!-- /.title -->
			<div class="frm-title">Welcome Back</div>
			<!-- /.frm-title -->
			
			<p class="text-center">Enter your password to access .</p>
			<div class="frm-input"><input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="frm-inp"><i class="fa fa-lock frm-ico"></i></div>
			<!-- /.frm-input -->
			<button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
			<a href="/signin" class="a-link"><i class="fa fa-sign-in"></i>Not you? Login.</a>
			<div class="frm-footer">Onitron © 2019.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->
